.call-form__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.call-form__error {
    color: red;
    font-weight: 400;
}

.call-form__success {
    color: green;
    font-weight: 400;
}
